server:
  port: 8080
spring:
  application:
    name: betty-white
springdoc:
  swagger-ui:
    operationsSorter: method
    tagsSorter: alpha
    try-it-out-enabled: true

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:h2:mem:jewelrydb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
springdoc:
  swagger-ui:
    operationsSorter: method
    tagsSorter: alpha
